<div class="single single-coleccion postid-184">

    <section class="content collection">
        <a name="content1"></a>
        <div class="section group collection">
            <div class="col span_2_of_12">
                <h2 class="type_bebasneue revealOnScroll" data-animation="fadeInDown" data-timeout="800">APPLE<br/> IPHONE
                </h2>
            </div>
            <div class="col span_10_of_12">
                <div class="type_alright revealOnScroll " data-animation="fadeInDown" data-timeout="500">
                    <p class="p1" style="text-align: left;">Teresa Sapey surprises us with her creations, this time
                        through the ADAN Collection for Vondom, an item with a lot of personality, and a shape which is
                        faceted, like that of a diamond. More than objects, they are multifunctional architecture
                        pieces, since besides being used as vases they can be used as seats, flower pots, auxiliary
                        tables… They are lifestyle objects that create a stir, fitting in with any style and are made of
                        materials that allow for both outdoor and indoor use.</p>
                </div>
            </div>
        </div>


        <div class="section group collection video">


        </div>


    </section>

    <section class="content tipology home-style">
        <div class="section group">

            <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="0">
                <div class="imagen-typologi">
                    <a href="?tipology=MESA"><img src="img/product_temp.jpg" class="responsive "/></a>
                </div>
                <div class="section group contenido_text">
                    <div class="col span_12_of_12 text-center">
                        <a href="?tipology=MESA">
                            <h1 class="type_bebasneue">Iphone 7s</h1>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="180">
                <div class="imagen-typologi">
                    <a href="?tipology=SILLA"><img src="img/camera.jpg" class="responsive "/></a>
                </div>
                <div class="section group contenido_text">
                    <div class="col span_12_of_12 text-center">
                        <a href="?tipology=MESA">
                            <h1 class="type_bebasneue">Sony X100</h1>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="360">
                <div class="imagen-typologi">
                    <a href="?tipology=BUTACA"><img src="img/ram.jpg" class="responsive "/></a>
                </div>
                <div class="section group contenido_text">
                    <div class="col span_12_of_12 text-center">
                        <a href="?tipology=MESA">
                            <h1 class="type_bebasneue">Ram 8gb</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="540">
                <div class="imagen-typologi">
                    <a href="?tipology=SOFA"><img src="img/card.png" class="responsive "/></a>
                </div>
                <div class="section group contenido_text">
                    <div class="col span_12_of_12 text-center">
                        <a href="?tipology=MESA">
                            <h1 class="type_bebasneue">NVIDIA 1080Ti</h1>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="720">
                <div class="imagen-typologi">
                    <a href="?tipology=MACETEROS"><img src="img/cpu.jpg" class="responsive "/></a>
                </div>
                <div class="section group contenido_text">
                    <div class="col span_12_of_12 text-center">
                        <a href="?tipology=MESA">
                            <h1 class="type_bebasneue">Intel Core I7-7700HQ</h1>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="900">
                <div class="imagen-typologi">
                    <a href="?tipology=TUMBONA"><img src="img/psu.jpg" class="responsive "/></a>
                </div>
                <div class="section group contenido_text">
                    <div class="col span_12_of_12 text-center">
                        <a href="?tipology=MESA">
                            <h1 class="type_bebasneue">PSU Kinston</h1>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

        </div>
    </section>

    <div class="clearfix"></div>

    <section class="collection-relacionados type_OpenSans">
        <h2 class="type_bebasneue">Related projects</h2>


        <a href="http://www.vondom.com/atmospheres/hotel-wanda/">
            <img class="responsive"
                 src="http://www.vondom.com/wp-content/uploads/2017/02/outdoordesignfurniture-sofa-daybed-pots-adan-faz-vondom-p-1024x288.jpg"/>

            <p>WANDA HOTEL</p>
        </a>


        <a href="http://www.vondom.com/fr/atmospheres/pau-hotel/">
            <img class="responsive"
                 src="http://www.vondom.com/wp-content/uploads/2015/05/design-contract-furniture-stones-lava-adam-chemistubes-pau-hotel-vondom-3-1024x288.jpg"/>

            <p>PAU HOTEL</p>
        </a>


        <a href="http://www.vondom.com/zh-hans/atmospheres/pau-hotel/">
            <img class="responsive"
                 src="http://www.vondom.com/wp-content/uploads/2015/05/design-contract-furniture-stones-lava-adam-chemistubes-pau-hotel-vondom-3-1024x288.jpg"/>

            <p>PAU HOTEL</p>
        </a>


        <a href="http://www.vondom.com/atmospheres/pau-hotel/">
            <img class="responsive"
                 src="http://www.vondom.com/wp-content/uploads/2015/05/design-contract-furniture-stones-lava-adam-chemistubes-pau-hotel-vondom-3-1024x288.jpg"/>

            <p>PAU HOTEL</p>
        </a>


        <a href="http://www.vondom.com/de/atmospheres/pau-hotel/">
            <img class="responsive"
                 src="http://www.vondom.com/wp-content/uploads/2015/05/design-contract-furniture-stones-lava-adam-chemistubes-pau-hotel-vondom-3-1024x288.jpg"/>

            <p>PAU HOTEL</p>
        </a>


    </section>

</div>