<div class="page page-id-57 page-template page-template-page-product2 page-template-page-product2-php">
    <!-- content -->


    <section class="content ficha-producto noslider">


        <div id="breadcrumb" class="section group">

            <div class="col span_12_of_12 ">

                <a href="http://www.vondom.com/">Home</a> > <a href="http://www.vondom.com/categories/">Products</a> >
                <a
                        href="http://www.vondom.com/categories/?tipology=mesa">tables</a> > <a href="#">frame table
                aluminium
                100x100x76</a>
            </div>

        </div>


        <div class="section group ">
            <div class="col span_6_of_12" style="padding: 9% 0% 70px; position: relative;">
                <div style="width: 100%; height: 100%;">
                    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                        <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <!--<div class="carousel-caption">-->
                            <!--<h4>Slide {{slide.id}}</h4>-->
                            <!--<p>{{slide.text}}</p>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col span_6_of_12 ">
                <div class=" texto-ficha">
                    <h1 class="type_bebasneue" title="54117">FRAME TABLE ALUMINIUM 100x100x76</h1>

                    <h2 class="type_OpenSans"><a href="http://www.vondom.com/designers/ramon-esteve/"></a>
                    </h2>


                    <p class="type_alright">
                    <p class="p1" style="text-align: left;">FRAME Collection comes from generating serene and timeless
                        shapes using framework as the elementary geometry. The endless possibilities offered by the
                        material
                        using advanced technology, was the motivation to explore the limits. The FRAME section is flared
                        creating pieces of visual lightness while still definitive and resistant. FRAME meets a wide
                        range
                        of needs in any outdoor space thanks to its variety of pieces. The collection consists of high
                        and
                        low stools, benches, armchairs, a modular sofa, tables of various sizes, chairs and a
                        chaiselongue.
                        The lightness of the pieces as well as the stackable nature of some, such as the chairs and
                        armchairs, make adjustments to their distribution easier and comfortable. Also the chaiselongue,
                        with a reclining backrest, has wheels built into the framework which make moving it
                        easier.</p></p>



                </div>
            </div>
        </div>

    </section>

    <section class="content">
        <uib-tabset active="active">
            <uib-tab index="0">
                <uib-tab-heading>
                    Chi tiết sản phẩm
                </uib-tab-heading>
                <ul class="test-ul">
                    <li>Màn hình rộng: 5.8”</li>
                    <li>Công nghệ màn hình: Super AMOLED</li>
                    <li>Hệ điều hành: Android 7.0</li>
                    <li>RAM: 4 GB</li>
                    <li>Bộ nhớ trong: 64 GB</li>
                    <li>Dung lượng pin: 3000mAh</li>
                    <li>Thời gian bảo hành: 24 tháng</li>
                </ul>
            </uib-tab>
        </uib-tabset>
    </section>

    <section class="content">
        <div class="product-relative">
            <h1>Điện thoại</h1>
            <div style="width: 100%; height: 100%;">
                <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                    <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <!--<div class="carousel-caption">-->
                        <!--<h4>Slide {{slide.id}}</h4>-->
                        <!--<p>{{slide.text}}</p>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>