<section class="content tipology home-style">
    <div class="section group">
        <h1 style="margin: 0px;">
            <span>Điện thoại</span>
            <a ui-sref="subcategories({id:1})"><b style="float:right; font-size: 20px; margin-top: 10px;">Xem thêm <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></b></a>
        </h1>
        <div class="ruler" style="margin-top: 10px;
    height: 10px;
    border-top: 2px dotted rgba(76, 76, 76, 0.15);">&nbsp;</div>
        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="0">
            <div class="imagen-typologi">
                <a ui-sref="product({id:1})"><img src="img/product_temp.jpg" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Iphone 7s</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="180">
            <div class="imagen-typologi">
                <a href="?tipology=SILLA"><img src="img/sony.png" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Sony</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="360">
            <div class="imagen-typologi">
                <a href="?tipology=BUTACA"><img src="img/s8plus.png" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Samsung S8 Plus</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="540">
            <div class="imagen-typologi">
                <a href="?tipology=SOFA"><img src="img/oppo.png" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">OPPO F1 Flus</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="720">
            <div class="imagen-typologi">
                <a href="?tipology=MACETEROS"><img src="img/iphone6.png" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Iphone 6</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="900">
            <div class="imagen-typologi">
                <a href="?tipology=TUMBONA"><img src="img/iphonered.png" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Iphone 6 Red</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>


    <div class="section group">
        <h1>Linh kiện máy tính</h1>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="0">
            <div class="imagen-typologi">
                <a href="?tipology=MESA"><img src="img/product_temp.jpg" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Iphone 7s</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="180">
            <div class="imagen-typologi">
                <a href="?tipology=SILLA"><img src="img/camera.jpg" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Sony X100</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="360">
            <div class="imagen-typologi">
                <a href="?tipology=BUTACA"><img src="img/ram.jpg" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Ram 8gb</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="540">
            <div class="imagen-typologi">
                <a href="?tipology=SOFA"><img src="img/card.png" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">NVIDIA 1080Ti</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="720">
            <div class="imagen-typologi">
                <a href="?tipology=MACETEROS"><img src="img/cpu.jpg" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">Intel Core I7-7700HQ</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="900">
            <div class="imagen-typologi">
                <a href="?tipology=TUMBONA"><img src="img/psu.jpg" class="responsive "/></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_12_of_12 text-center">
                    <a href="?tipology=MESA">
                        <h1 class="type_bebasneue">PSU Kinston</h1>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</section>
