<section class="content tipology">
    <a name="content1"></a>
    <div class="section group">

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="0">
            <div class="imagen-typologi">
                <a href="?tipology=MESA"><img src="img/product_temp.jpg" class="responsive " /></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_7_of_12">
                    <a href="?tipology=MESA">
                        <h3 class="type_bebasneue">PHONE</h3>
                    </a>
                </div>
                <div class="col span_5_of_12 tipology_stats">
                    <p>134 Items</p>
                    <p>30 Collections</p>
                    <p>16 Designers</p>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="180">
            <div class="imagen-typologi">
                <a href="?tipology=SILLA"><img src="img/camera.jpg" class="responsive " /></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_7_of_12">
                    <a href="?tipology=SILLA">
                        <h3 class="type_bebasneue">CAMERA</h3>
                    </a>
                </div>
                <div class="col span_5_of_12 tipology_stats">
                    <p>30 Items</p>
                    <p>23 Collections</p>
                    <p>14 Designers</p>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="360">
            <div class="imagen-typologi">
                <a href="?tipology=BUTACA"><img src="img/ram.jpg" class="responsive " /></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_7_of_12">
                    <a href="?tipology=BUTACA">
                        <h3 class="type_bebasneue">RAM</h3>
                    </a>
                </div>
                <div class="col span_5_of_12 tipology_stats">
                    <p>20 Items</p>
                    <p>19 Collections</p>
                    <p>12 Designers</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="540">
            <div class="imagen-typologi">
                <a href="?tipology=SOFA"><img src="img/card.png" class="responsive " /></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_7_of_12">
                    <a href="?tipology=SOFA">
                        <h3 class="type_bebasneue">GRAPHIC CARD</h3>
                    </a>
                </div>
                <div class="col span_5_of_12 tipology_stats">
                    <p>63 Items</p>
                    <p>17 Collections</p>
                    <p>12 Designers</p>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="720">
            <div class="imagen-typologi">
                <a href="?tipology=MACETEROS"><img src="img/cpu.jpg" class="responsive " /></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_7_of_12">
                    <a href="?tipology=MACETEROS">
                        <h3 class="type_bebasneue">CPU</h3>
                    </a>
                </div>
                <div class="col span_5_of_12 tipology_stats">
                    <p>286 Items</p>
                    <p>22 Collections</p>
                    <p>14 Designers</p>
                </div>
            </div>
        </div>

        <div class="col span_4_of_12 revealOnScroll item-tipology" data-animation="fadeInUp" data-timeout="900">
            <div class="imagen-typologi">
                <a href="?tipology=TUMBONA"><img src="img/psu.jpg" class="responsive " /></a>
            </div>
            <div class="section group contenido_text">
                <div class="col span_7_of_12">
                    <a href="?tipology=TUMBONA">
                        <h3 class="type_bebasneue">PSU</h3>
                    </a>
                </div>
                <div class="col span_5_of_12 tipology_stats">
                    <p>8 Items</p>
                    <p>8 Collections</p>
                    <p>6 Designers</p>
                </div>
            </div>
        </div>
        <div class="clear"></div>

    </div>

</section>
