<section class="content login">
    <!-- Body -->
    <div class="banner">
        <div class="agileinfo-dot">
            <div class="w3layoutscontaineragileits">
                <h2>Sign In</h2>
                <form action="#" method="post">
                    <input type="text" Name="Username" placeholder="EMAIL" required="">
                    <input type="password" Name="Password" placeholder="PASSWORD" required="">
                    <div class="aitssendbuttonw3ls">
                        <input type="submit" value="SIGNIN" class="go-state" ui-sref="admin">
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>