<div class="page page-id-8727 page-template page-template-page-tipology page-template-page-tipology-php">
    <section  class="content tipology">

        <div id="breadcrumb" class="section group">

            <div class="col span_12_of_12 ">

                <a href="http://www.vondom.com/">Home</a> > <a href="http://www.vondom.com/categories/">Products</a>  > <a href="http://www.vondom.com/categories/?tipology=mesa">tables</a>
            </div>

        </div>

        <a name="content1"></a>

        <div class="section group  columnas_filter">


            <aside class="col span_2_of_12 ">
                <h2>TABLES</h2>


                <ul class="menu-designer products-filter">

                    <li><a href="#" rel="all" class="current">All</a></li>
                    <li><a href="#" rel="bajo">low</a></li>
                    <li><a href="#" rel="lacado">lacquered</a></li>
                    <li><a href="#" rel="rectangular">rectangular </a></li>
                    <li><a href="#" rel="cuadrada">square</a></li>
                    <li><a href="#" rel="extensibles">extensible</a></li>

                    <li><a href="#" rel="luminoso">illuminated</a></li>
                    <li><a href="#" rel="apilable"> stackable</a></li>
                    <li><a href="#" rel="redonda">round</a></li>

                </ul>


            </aside>

            <section class="col span_9_of_12 products-list product-filter">


                <div class="section group">

                    <div class="item col span_3_of_12 all bajo lacado luminoso ">
                        <a ui-sref="product({id:1})" title="FAZ SUN CHAISE TABLE 60x57x22">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/54009/VONDOM_OUTDOOR_54009_FAZ_MESA_TUMBONA.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a ui-sref="product({id:1})" title="FAZ SUN CHAISE TABLE 60x57x22">FAZ SUN CHAISE TABLE 60x57x22</a></h2>
                        <p><a ui-sref="product({id:1})">Ref: 54009</a></p>


                    </div>








                    <div class="item col span_3_of_12 all bajo lacado luminoso ">
                        <a href="http://www.vondom.com/products/?product=54007" title="FAZ COFFEE TABLE 110x70x32">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/54007/VONDOM_OUTDOOR_54007_FAZ_MESA_SOFA.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="http://www.vondom.com/products/?product=54007" title="FAZ COFFEE TABLE 110x70x32">FAZ COFFEE TABLE 110x70x32</a></h2>
                        <p><a href="http://www.vondom.com/products/?product=54007">Ref: 54007</a></p>


                    </div>








                    <div class="item col span_3_of_12 all ">
                        <a href="http://www.vondom.com/products/?product=49062" title="ADAN TABLE 49x68x70">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/49062/VONDOM_OUTDOOR_49062_ADAN_MESA.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="http://www.vondom.com/products/?product=49062" title="ADAN TABLE 49x68x70">ADAN TABLE 49x68x70</a></h2>
                        <p><a href="http://www.vondom.com/products/?product=49062">Ref: 49062</a></p>


                    </div>








                    <div class="item col span_3_of_12 all bajo lacado ">
                        <a href="http://www.vondom.com/products/?product=52002" title="AGATHA TABLE">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/52002/VONDOM_OUTDOOR_52002_AGATHA_MESA.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="http://www.vondom.com/products/?product=52002" title="AGATHA TABLE">AGATHA TABLE</a></h2>
                        <p><a href="http://www.vondom.com/products/?product=52002">Ref: 52002</a></p>


                    </div>










                    <div class="item col span_3_of_12 all">
                        <a href="?tipology=QUADRAT_TABLES&type=set&type_cat=MESA" title="QUADRAT TABLES">
                            <img class="responsive" src="http://www.vondom.com/wp-content/uploads/2015/03/QUADRAT_MESA.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="?tipology=QUADRAT_TABLES&type=set&type_cat=MESA">QUADRAT TABLES</a></h2>
                        <p><a href="?tipology=QUADRAT_TABLES&type=set&type_cat=MESA">View set</a></p>


                    </div>

                    <div class="item col span_3_of_12 all bajo lacado luminoso ">
                        <a href="http://www.vondom.com/products/?product=51006" title="PAL TABLE/STOOL">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/51006/VONDOM_OUTDOOR_51006_PAL_MESA_TABURETE.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="http://www.vondom.com/products/?product=51006" title="PAL TABLE/STOOL">PAL TABLE/STOOL</a></h2>
                        <p><a href="http://www.vondom.com/products/?product=51006">Ref: 51006</a></p>


                    </div>


                    <div class="item col span_3_of_12 all bajo lacado luminoso ">
                        <a href="http://www.vondom.com/products/?product=51006" title="PAL TABLE/STOOL">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/51006/VONDOM_OUTDOOR_51006_PAL_MESA_TABURETE.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="http://www.vondom.com/products/?product=51006" title="PAL TABLE/STOOL">PAL TABLE/STOOL</a></h2>
                        <p><a href="http://www.vondom.com/products/?product=51006">Ref: 51006</a></p>


                    </div>













                    <div class="item col span_3_of_12 all bajo lacado luminoso ">
                        <a href="http://www.vondom.com/products/?product=51006" title="PAL TABLE/STOOL">
                            <img class="responsive" src="http://www.vondom.com/imagenes/renders/51006/VONDOM_OUTDOOR_51006_PAL_MESA_TABURETE.jpg" alt="">
                        </a>
                        <h2 class="type_bebasneue"><a href="http://www.vondom.com/products/?product=51006" title="PAL TABLE/STOOL">PAL TABLE/STOOL</a></h2>
                        <p><a href="http://www.vondom.com/products/?product=51006">Ref: 51006</a></p>


                    </div>


                </div>


            </section>

        </div>




    </section>

</div>