<section class="content">

    <a name="content1"></a>

    <div class="section group columnas_home">


        <!-- Columna 1 -->
        <div class="col span_1_of_3 ">


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                           data-animation="fadeInUp" data-timeout="400"
                                                                           src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>A paradise in China</span>
                        <data>4 May 2017</data>
                    </h2>
                    <p class="type_OpenSans">The new 7-star hotel, Mangrove, located in the island of Sanya, Rep of
                        China, where art, luxury and elegance are everywhere. <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                         data-animation="fadeInUp" data-timeout="400"
                                                                         src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>WESTWEEK 2017, ICONS + INNOVATORS</span>
                        <data>19 April 2017</data>
                    </h2>
                    <p class="type_OpenSans">The presentation was followed by a meet &amp; greet reception with the
                        panelists in addition to insightful interviews of some of LA’s top design innovators produced
                        by Convo by Design with Host Ramon Esteve. <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                    data-animation="fadeInUp" data-timeout="400"
                                                                    src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>LIFE IS MAGICAL!</span>
                        <data>27 March 2017</data>
                    </h2>
                    <p class="type_OpenSans">From Vondom we invite you to dream with us and to make everyday's life
                        something great, fun and beautiful. <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a><img class="responsive revealOnScroll" data-animation="fadeInUp" data-timeout="400"
                        src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>HAPPY WOMEN&#8217;S DAY</span>
                        <data>8 March 2017</data>
                    </h2>
                    <p class="type_OpenSans">"Every achievement may it be big or small, starts in your mind" by Mary Kay
                        Ash.
                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                  data-animation="fadeInUp" data-timeout="400"
                                                                  src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>URBAN LUXURY FROM SHANGHAI</span>
                        <data>16 February 2017</data>
                    </h2>
                    <p class="type_OpenSans">The Wanda Hotel is in the center of the chinese city, designed by Norman
                        Foster. <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


        </div>


        <!-- Columna 2 -->
        <div class="col span_1_of_3 ">


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll" data-animation="fadeInUp"
                                                data-timeout="400"
                                                src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>NEXT FAIR!</span>
                        <data>25 April 2017</data>
                    </h2>
                    <p class="type_OpenSans">Visit us at HD Expo Las Vegas!

                        Booth 4132 | 3 rd - 5th May <span class="type_bebasneue"><a
                                href="event/index.html">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll" data-animation="fadeInUp"
                                                   data-timeout="400"
                                                   src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>NEWS CATALOGS 2017</span>
                        <data>12 April 2017</data>
                    </h2>
                    <p class="type_OpenSans"><span class="type_bebasneue"><a
                            href="catalogs/index.html">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                  data-animation="fadeInUp" data-timeout="400"
                                                                  src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>EVENT DIFFA AT NEW YORK</span>
                        <data>24 March 2017</data>
                    </h2>
                    <p class="type_OpenSans">Vondom celebrated a great cause by collaborating with M. Moser Associates
                        to help make design come to life benefiting DIFFA. <span class="type_bebasneue"><a
                                ui-sref="atmosphe"View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                data-animation="fadeInUp" data-timeout="400"
                                                                src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>AN APPOINTMENT  IN STOCKHOLM</span>
                        <data>28 February 2017</data>
                    </h2>
                    <p class="type_OpenSans">All the designs of Eero Aarnio, in a single space: National museum of
                        Design in Stockholm, one of the most internationally recognized designers.

                        You can visit the expo until the 23 rd of April. <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a><img class="responsive revealOnScroll" data-animation="fadeInUp" data-timeout="400"
                        src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>Happy Valentine&#8217;s day</span>
                        <data>14 February 2017</data>
                    </h2>
                    <p class="type_OpenSans">
                    </p>

                </footer>


            </div>


        </div>


        <!-- Columna 3 -->
        <div class="col span_1_of_3 ">


            <div class="news-box">
                <a hui-sref="atmosphe"><img class="responsive revealOnScroll" data-animation="fadeInUp"
                                                    data-timeout="400"
                                                    src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>Dream with us!</span>
                        <data>21 April 2017</data>
                    </h2>
                    <p class="type_OpenSans">From Vondom we invite you to dream with us and to make everyday’s life
                        something great, fun and beautiful. <span class="type_bebasneue"><a href="vondom-tv/index.html">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                              data-animation="fadeInUp" data-timeout="400"
                                                              src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>ISALONI MILANO 2017</span>
                        <data>7 April 2017</data>
                    </h2>
                    <p class="type_OpenSans">Vondom presents the new designs of furniture for the exterior and interior
                        as well as the new contract collections designed by the masters: Ramon Esteve, Eugeni Quitllet,
                        Fabio Novembre .... <span class="type_bebasneue"><a
                                hui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                 data-animation="fadeInUp" data-timeout="400"
                                                                 src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>Join Us at BD|WEST 2017</span>
                        <data>23 March 2017</data>
                    </h2>
                    <p class="type_OpenSans">BD|WEST and Vondom invite you to experience on April 5th &amp; 6th, 2017 at
                        the Los Angeles Convention Center.

                        &nbsp; <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                                data-animation="fadeInUp" data-timeout="400"
                                                                src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>NEW SHOWROON AT CHENGDU</span>
                        <data>23 February 2017</data>
                    </h2>
                    <p class="type_OpenSans">It is located in the most exclusive furniture shopping center of Chengdu,
                        western of China. <span class="type_bebasneue"><a
                                ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


            <div class="news-box">
                <a ui-sref="atmosphe"><img class="responsive revealOnScroll"
                                                               data-animation="fadeInUp" data-timeout="400"
                                                               src="img/temp.jpg"/></a>


                <footer>
                    <h2 class="type_bebasneue"><span>RING IN THE NEW YEAR</span>
                        <data>10 February 2017</data>
                    </h2>
                    <p class="type_OpenSans">Vondom participates in" Ring in the New Year" Los Angeles. <span
                            class="type_bebasneue"><a ui-sref="atmosphe">View ></a></span>

                    </p>

                </footer>


            </div>


        </div>
    </div>

</section>